{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{% if form.instance.pk %}Edit{% else %}Register{% endif %} Position</h1>

<form method="post">
    {% csrf_token %}
    <div class="col-md-12 row">
        <div class="col-md-6">
            {{form.position_name|as_crispy_field}}
        </div>
    </div>  
    <div class="col-md-12 row">
        <div class="col-md-6">
            {{form.note|as_crispy_field}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
